body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Общее содержимое */

.homebody {
    /* 
        background-image: url("../Images/HomeBG.bmp");
        background-repeat: no-repeat;
        background-size: cover;
    */

    background-color: lightblue;
}

.PageInfoPlace{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Greeting{
    display:block;
    margin: auto;
}

.Text {
    color: darkslateblue;
    /* -webkit-text-stroke: 1px darkblue; Толщина и цвет обводки */
}


/* Главная страница */

.MainPageActionSpace {
    border: 3px solid grey;
    border-radius: 15px;
    background-color: grey;
    width: inherit;
    height: 50px;
}

.MainPageBottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}


/* Содержимое страницы авторизации */

.AuthoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AuthoSpace{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AuthoEditor{
    margin: 10px;
}


