@{
    ViewBag.Title = "Page for authorized users";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>
            <a href="../Users/Index">Пользователи</a><br>
            <a href="../Autoparks/Index">Автопарк</a><br>
            <a href="../Rents/Index">Заказы</a><br>
            <a href="../Options/Index">Наборы опций</a><br>
            <a href="../ModelTables/Index">Модели автомобилей</a><br>
            <a href="../TypeTables/Index">Типы автомобилей</a><br>
            <a href="../TechMessages/Index">Чаты тех. поддержки</a><br>
            <a href="../Fixes/Index">Ремонт поломок</a><br>
        </div>
    </div>
</body>
</html>
