@{
    ViewBag.Title = "Page for authorized users";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>
            <a href="../Users/Index">Users</a><br>
            <a href="../Autoparks/Index">Autopark</a><br>
            <a href="../Rents/Index">Rents</a><br>
            <a href="../Options/Index">Options</a><br>
            <a href="../ModelTables/Index">Models</a><br>
            <a href="../TypeTables/Index">Types</a><br>
            <a href="../TechMessages/Index">Tech messages</a><br>
            <a href="../Fixes/Index">Fixes</a><br>
        </div>
    </div>
</body>
</html>
