@{
    ViewBag.Title = "Home Page";
    
}

<br>
<div>
    <a href="../Home/ForAuthorized">Authorized</a><br>
</div>

<br>
<div>
    <a href="../Home/Registration">Registration</a>
</div>

<div class="UsersTable">

</div>