<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packages>
    <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net461" />
    <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net461" />
  </packages>
  
  <connectionStrings>
    <add name="AutoRentDatabaseEntitiesActual" connectionString="metadata=res://*/Models.ContosoModel.csdl|res://*/Models.ContosoModel.ssdl|res://*/Models.ContosoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=H:\!ТРПО\Лабы\_сайт\ContosoSite\ContosoSite\App_Data\AutoRentDatabase.mdf;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>